{% extends 'index.html' %}
{% block title %}
Crear Evento
{% endblock title %}
{% block body_style %}
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">
<style>
    /*----------  libraries ---------- */
    @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
    @import url(https://fonts.googleapis.com/css?family=Work+Sans);

    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        font-size: 100%;
        vertical-align: baseline;
    }

    html {
        line-height: 1;
    }

    ol,
    ul {
        list-style: none;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    caption,
    th,
    td {
        text-align: left;
        font-weight: normal;
        vertical-align: middle;
    }

    q,
    blockquote {
        quotes: none;
    }

    q:before,
    q:after,
    blockquote:before,
    blockquote:after {
        content: "";
        content: none;
    }

    a img {
        border: none;
    }

    article,
    aside,
    details,
    figcaption,
    figure,
    header,
    hgroup,
    main,
    menu,
    nav,
    section,
    summary {
        display: block;
    }

    /*----------  style ----------*/
    * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
    }

    body {
        background-color: #fff;
    }

    .wrapper {
        width: 80%;
        height: 400px;
        margin: 80px auto 0;
    }

    .wrapper .container {
        float: right;
        width: 100%;
        height: 400px;
        background-color: #fff6e44f;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }

    .wrapper .container .part {
        float: left;
        height: 100%;
    }

    .wrapper .container .part.card-details {
        padding: 48px 40px 0;
        width: 100%;
    }

    .wrapper .container .part.bg {
        width: 40%;
        background-image: url("http://s13.postimg.org/d8emjhccn/image.jpg");
        background-size: 121%;
        background-repeat: no-repeat;
        overflow: hidden;
        -moz-border-radius-topright: 10px;
        -webkit-border-top-right-radius: 10px;
        border-top-right-radius: 10px;
        -moz-border-radius-bottomright: 10px;
        -webkit-border-bottom-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .wrapper .container form {
        font-family: 'Work Sans', sans-serif;
    }

    .wrapper .container form .group {
        display: inline;
        width: 50%;
        padding-inline-end: 5%;
        float: left;
        position: relative;
        margin-bottom: 25px;
    }

    .wrapper .container form .group label {
        font-size: 12px;
        float: left;
        width: 100%;
        display: block;
        margin-bottom: 5px;
    }

    .wrapper .container form .group input {
        float: left;
        width: 100%;
        height: 30px;
        font-size: 18px;
        font-family: 'Work Sans', sans-serif;
        border: 0;
        color: #040404;
        border-bottom: 1px solid #fba70b;
        background-color: #fba70b00;
    }

    .wrapper .container form .group input::-webkit-input-placeholder {
        font-family: 'Work Sans', sans-serif;
        font-size: 14px;
        line-height: 20px;
        vertical-align: middle;
        color: rgb(145, 145, 145);
        text-align: left;
    }

    .wrapper .container form .group input:-moz-placeholder {
        font-family: 'Work Sans', sans-serif;
        font-size: 14px;
        line-height: 20px;
        vertical-align: middle;
        color: #d9d9d9;
        text-align: left;
    }

    .wrapper .container form .group input::-moz-placeholder {
        font-family: 'Work Sans', sans-serif;
        font-size: 14px;
        line-height: 20px;
        vertical-align: middle;
        color: #d9d9d9;
        text-align: left;
    }

    .wrapper .container form .group input:-ms-input-placeholder {
        font-family: 'Work Sans', sans-serif;
        font-size: 14px;
        line-height: 20px;
        vertical-align: middle;
        color: #d9d9d9;
        text-align: left;
    }

    .wrapper .container form .group input:focus {
        outline: none;
        border-bottom-color: #fff;
    }

    .wrapper .container form .group input:focus::-webkit-input-placeholder {
        color: transparent;
    }

    .wrapper .container form .group input:focus:-moz-placeholder {
        color: transparent;
    }

    .wrapper .container form .group input:focus::-moz-placeholder {
        color: transparent;
    }

    .wrapper .container form .group input:focus:-ms-input-placeholder {
        color: transparent;
    }

    .wrapper .container form .submit-group {
        width: 100%;
        float: left;
        position: relative;
    }

    .wrapper .container form .submit {
        text-transform: uppercase;
        position: relative;
        border: 1px solid #fba70b;
        border-radius: 5px;
        background-color: #fba70b;
        font-size: 12px;
        line-height: 21px;
        letter-spacing: 1.4px;
        text-align: left;
        color: #fff;
        margin-left: 24px;
        cursor: pointer;
    }

    .wrapper .container form .submit:focus {
        outline: none;
    }
</style>
{% endblock body_style %}
{% block body %}
<div class="wrapper">
    <div class="container">
        <article class="part card-details">
            <!-- <form action="" if="cc-form" autocomplete="off" method="POST">
                <div class="div-form">
                    <div class="group card-number">
                        <label for="first">Nombre del Organizador/a</label>
                        {{ form.organizador }}
                        <input name="organizador" autocomplete="false" type="text" placeholder="Tu nombre...">
                    </div>
                    <div class="group card-number">
                        <label for="numero">Numero de contacto del Organizador/a</label>
                        {{ form.contacto }}
                        <input name="numero" autocomplete="false" type="text" placeholder="Tu numero de telefono...">
                    </div>
                    <div class="group input-class">
                        <label for="name">Nombre del Evento</label>
                        {{ form.nombre }}
                        <input name="evento" autocomplete="false" type="text" id="name" class="" type="text" maxlength="120"
                            placeholder="Ej. Pollada Solidaria, Todos por Gilda....">
                    </div>
                    <div class="group input-class">
                        <label for="name">Tipo de Evento</label>
                        {{ form.tipo }}
                        <input name="tipo" autocomplete="false" type="text" class="" type="text" maxlength="120"
                            placeholder="Ej. Pollada, hamburgueseada, tallarinada....">
                    </div>
                    <div class="group input-class">
                        <label for="name">Costo</label>
                        {{ form.costo }}
                        <input name="costo" autocomplete="false" type="text" class="" type="text" maxlength="20" placeholder="Costo de adhesion...">
                    </div>
                </div>
                <div class="div-form">
                    <div class="group input-class">
                        <label for="name">Dirrecion</label>
                        {{ form.direccion }}
                        <input name="direccion" autocomplete="false" type="text" class="" type="text" maxlength="250" placeholder="Dirrecion del evento....">
                    </div>
                    <div class="group input-class">
                        <label for="name">Barrio</label>
                        {{ form.direccion }}
                        <input name="barrio" autocomplete="false" type="text" id="name" class="" type="text" maxlength="20" placeholder="Barrio....">
                    </div>
                    <div class="group input-class">
                        <label for="name">Ciudad</label>
                        {{ form.ciudad }}
                        <input name="ciudad" autocomplete="false" type="text" id="name" class="" type="text" maxlength="20" placeholder="Ciudad....">
                    </div>
                    <div class="group input-class">
                        <label for="name">Fecha</label>
                        {{ form.fecha }}
                        <input name="fecha" autocomplete="false" type="date" id="name" class="">
                    </div>
                    <div class="group input-class">
                        <label for="name">Hora</label>
                        <input name="hora" autocomplete="false" type="time" id="name" class="">
                    </div>
                </div>
                <div class="grup submit-group">
                    <input autocomplete="false" type="submit" class="submit" value="Crear Evento">
                </div>
            </form> -->
            <form autocomplete="off" method="POST">
                {% csrf_token %}
                <div class="group card-number">
                    <label for="first">Nombre del Organizador/a</label>
                    {{ form.organizador }}
                </div>
                <div class="group card-number">
                    <label for="numero">Numero de contacto del Organizador/a</label>
                    {{ form.contacto }}
                </div>
                <div class="group input-class">
                    <label for="name">Nombre del Evento</label>
                    {{ form.nombre }}
                </div>
                <div class="group input-class">
                    <label for="name">Tipo de Evento</label>
                    {{ form.tipo }}
                </div>
                <div class="group input-class">
                    <label for="name">Costo</label>
                    {{ form.costo }}
                </div>
                <div class="group input-class">
                    <label for="name">Dirrecion</label>
                    {{ form.direccion }}
                </div>
                <div class="group input-class">
                    <label for="name">Barrio</label>
                    {{ form.direccion }}
                </div>
                <div class="group input-class">
                    <label for="name">Ciudad</label>
                    {{ form.ciudad }}
                </div>
                <div class="group input-class">
                    <label for="name">Fecha</label>
                    {{ form.fecha }}
                </div>
                <div class="group input-class">
                    <label for="name">Hora</label>
                </div>
    </div>
    <div class="grup submit-group">
        <input autocomplete="false" type="submit" class="submit" value="Crear Evento">
    </div>
    </form>
    </article>
</div>
</div>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<script src="js/index.js"></script>
{% endblock body %}